h4 {
  text-decoration: none;
  color: rgba(0,0,0,0) !important;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  pointer-events: none;
}
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  display: inline-block !important;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-size: contain;
  background-color: black;
}
.songwriter { background-image: url("http://tjtroy.com/images/guitar.jpeg"); }
.educator { background-image: url("http://tjtroy.com/images/riq.jpeg"); }
.performer { background-image: url("http://tjtroy.com/images/partch.jpeg"); }
.recording { background-image: url("http://tjtroy.com/images/tabla.jpeg"); }
.accompaniment { background-image: url("http://tjtroy.com/images/dance.jpeg"); }
.comics { background-image: url("http://tjtroy.com/images/rdh.jpeg"); }
.voiceover { background-image: url("http://tjtroy.com/images/tj.jpeg"); }
.liveevents { background-image: url("http://tjtroy.com/images/illustrated.jpeg"); }
.addSpace {
  margin-top: 0;
}
.event-container {
  background: black;
  width: 70%;
  display: block;
  margin: 50px auto;
}
.container-header {
  background: #646464;
  color: white;
  font-size: 20px;
  padding: 9px 0 0 10px;
  text-align: left;
}
.event-post {
    margin: 50px 0 0 -65px;
    background: white;
}
.container-body p {
  padding: 5px 10px;
}
#introContainer {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
@media only screen and (min-width: 350px) {
  .circle {
    width: 100px;
    height: 100px;
    min-width: 100px !important;
    min-height: 100px !important;
  }
  .circle:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -2%;
  }
  .circle:hover {
    color: #fff;
  }
  .circle:hover h4 {
    color: white !important;
    text-shadow: 1px 3px 6px #000000;
  }
  .circle h4 {
    font-size: 0.75em;
    line-height: 1em;
  }
  .circle > h4, .circle > .wrapcontent {
    display: inline-block;
    vertical-align: middle;
  }
  .circle > h4 > h4, .circle > .wrapcontent > h4 {
    display: block;
  }
  .addSpace {
    margin-top: 17%;
  }
}
@media only screen and (min-width: 568px) {
    .addSpace {
      margin-top: 0;
    }
  }
@media only screen and (min-width: 768px) {
  .circle {
    width: 180px;
    height: 180px;
  }
  .circle h4 {
    font-size: 1.2em;
    line-height: 1em;
  }
  .shrink {
    font-size: 1em !important;
  }
  .addSpace {
    margin-top: 7%;
  }
}
@media only screen and (min-width: 812px) {
  .circle {
    width: 180px;
    height: 180px;
  }
  .circle h4 {
    font-size: 1.4em;
    line-height: 1em;
  }
  .shrink {
    font-size: 1.3em !important;
  }
  .addSpace {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 1050px) {
  .circle {
    width: 250px;
    height: 250px;
  }
  .circle h4 {
    font-size: 1.6em;
    line-height: 1em;
  }
  .addSpace {
    margin-top: 1%;
  }
}