@import url('fonts/fonts.css');
@import url('reset.css');

/* General Demo Style */

* { margin: 0; padding: 0; border: 0; overflow: scroll; } 

body {
	background: url(../images/logo_T.J._lgred.png) 300px 50px fixed no-repeat #ffffff;
	background-size: 90%;
	font-family: 'Oswald', serif;
}

a{
	color: #fff;
	text-decoration: none;
}


/* Header Style */
.header{
	font-family:'Oswald', Arial, sans-serif;
	color: white;
	overflow: visible;
	font-weight: 100;
	line-height: 28px;
	font-size: 14px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	padding-left: 10px;
	padding-top: 5px;
	position: fixed;
	top: 0;
	width: 100%;
	height: 2.5em;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	text-decoration: none;
	padding: 0px 10px;
	letter-spacing: 1px;
	display: block;
	float: left;
}
.header a:hover{
	color: #fff;
}
.header span.right{
	float: right;
	padding-right: 100px;
}

.header span.right a{
	float: left;
	display: inline;
}

ul#navlist { 
	display: inline;
	font-family:'Oswald', Arial, sans-serif;
	color: white;
	font-weight: 100;
	font-size: 12px;
	text-transform: uppercase;
	 }

ul#navlist a
{
text-decoration: none;
}

ul#navlist, ul#navlist ul, ul#navlist li
{
margin: 0px;
padding: 0px;
list-style-type: none;
}

ul#navlist li { float: left; }

ul#navlist li a
{
color: #ffffff;
font-size: 14px;
font-weight: 100;
background-color: #000;
}

ul#navlist li a:hover
{
color: #fff6cc;
background-color: #000;
}

ul#navlist li a:active
{
color: #a11923;
background-color: #000000;
}

ul#subnavlist { display: none; }

ul#subnavlist li { float: left; }

ul#subnavlist li a
{
padding: 0px;
margin: 0px;
}

ul#navlist li:hover ul#subnavlist
{
display: block;
position: absolute;
font-size: 8pt;
padding-left: 5px;
}

ul#navlist li:hover ul#subnavlist li a
{
display: block;
width: 10em;
border: none;
padding-left: 5px;
}

.clr{
	clear: both;
}

/* end header style */


/* container style */

.container{
	display: block;
	width: 100%;
	position: fixed;
	vertical-align: top;
}

p.demos{
    position:relative;
    z-index: 1000;
	padding: 4px;
	text-align: center;
	-webkit-animation: appear 0.6s ease-in-out 3.2s backwards;
	-moz-animation: appear 0.6s ease-in-out 3.2s backwards;
}
p.demos a{
    display: inline-block;
	padding: 2px 4px;
	background: #fff;
	color: #000;
	font-family:'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
p.demos a:hover{
    color: #fff;
	background: #555;
}
p.demos a.current-demo,
p.demos a.current-demo:hover{
    font-weight: bold;
	background: #333;
	color: #fff;
}

.sp-container {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 41em;
	margin: 0 auto 0 auto;
	text-align: center;
}

.sp-container p {
	font-size: 24px;
	font-weight: 200;
	color: #000;
	text-align: center;
	text-shadow: 0px 1px 1px #333333;
}

.sp-content {
	position: relative;
	display: inline-block;
	overflow: scroll;
	z-index: 100;
	width: 100%;
	left: 0px;
	right: 0px;
	top: 50px;
	bottom: 100px;
}



.sp-holding {
	background-color: black;
	position: relative;
	z-index: 100;
	width: 100%;
	padding-top: 100px;
	display: inline-block;
	left: 0px;
	right: 0px;
	top: 50px;
}

.sp-holding p {color: white;
}

.sp-morecontent {
	background-image: url(../images/Untitled-3.png);
	background-repeat: repeat; 
	background-color: white;
	position: relative;
	z-index: 100;
	width: 100%;
	display: inline-block;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 50px;
}

.box {
	margin-top: 50px;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	display: inline-block;
	background-image: url(../images/bg_transparent_wht.png);
	background-repeat: repeat-fixed;
}

.box h1 {
	text-align: left;
	margin-left: 10px;
	color: black;
}

.box p {
	font-family:'Yantramanav', Arial, sans-serif;
	font-weight: 100;
	letter-spacing: 0px;
	line-height: 28px;
	font-size: 20px;
	text-align: left;
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 40px; 
}

.sp-content h1:first-child {
	font-size: 100px;
	text-align: center;
	color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #a11923;
	line-height: 80px;
	padding: 30px 0px 20px 0px;
	font-family: 'Oswald', Arial, sans-serif;
	-webkit-animation: fromBack 1.2s;
	-moz-animation: fromBack 0.6s;
	-ms-animation: fromBack 1.2s;
	animation: fromBack 1.2s;
}
.sp-content h1.sp-title {
	font-size: 90px;
	line-height: 80px;
	position: absolute;
	top: 50px;
	left: 160px;
	width: 470px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 155px;
	height: 305px;
	text-transform: uppercase;
	text-align: center;
	color: #518f7e;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
	font-family: 'Oswald', Arial, sans-serif;
	-webkit-animation: fadeInColor 1.2s;
	-moz-animation: fadeInColor 1.2s;
	-ms-animation: fadeInColor 1.2s;
	animation: fadeInColor 1.2s;
}
.sp-content h1:last-child em {
	font-family: 'Oswald', serif;
	text-transform: none;
}
.sp-content h2 {
	font-size: 36px;
	text-align: center;
	color: #518f7e;
	font-family: 'Oswald', serif;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}

.sp-content img {
	display: inline-block;
	z-index: 1000;
	position: relative;
	border-radius: 50%;
	max-width: 250px;
	-webkit-animation: fromBack 3.2s;
	-moz-animation: fromBack 2.6s;
	-ms-animation: fromBack 3.2s;
	animation: fromBack 3.2s;
}


/* -webkit- */


@-webkit-keyframes appear{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-moz-keyframes appear{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes fadeInColor{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0);
	}
	50%{
		opacity: 0.5;
		background-color: rgba(255,255,255,0);
	}
	100%{
		opacity: 1;
		background-color: rgba(255,255,255,0.3);
	}
}
@-webkit-keyframes slideIn{
	0%{
		opacity: 0;
		-webkit-transform: translateX(-200px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateX(0px);
	}
}
@-webkit-keyframes sizeDownMove{
	0%{
		-webkit-transform: scale(1);
		left: 100px;
	}
	100%{
		-webkit-transform: scale(0.6);
		left: 0px;
	}
}
@-webkit-keyframes fromBack{
	0%{
		-webkit-transform: scale(0);
		opacity: 0;
	}
	100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
/* -moz- */
@-moz-keyframes fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-moz-keyframes fadeInColor{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0);
	}
	50%{
		opacity: 0.5;
		background-color: rgba(255,255,255,0);
	}
	100%{
		opacity: 1;
		background-color: rgba(255,255,255,0.3);
	}
}
@-moz-keyframes slideIn{
	0%{
		opacity: 0;
		-moz-transform: translateX(-200px);
	}
	100%{
		opacity: 1;
		-moz-transform: translateX(0px);
	}
}
@-moz-keyframes sizeDownMove{
	0%{
		-moz-transform: scale(1);
		left: 100px;
	}
	100%{
		-moz-transform: scale(0.6);
		left: 0px;
	}
}
@-moz-keyframes fromBack{
	0%{
		-moz-transform: scale(0);
		opacity: 0;
	}
	100%{
		-moz-transform: scale(1);
		opacity: 1;
	}
}
/**/
@keyframes fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes fadeInColor{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0);
	}
	50%{
		opacity: 0.5;
		background-color: rgba(255,255,255,0);
	}
	100%{
		opacity: 1;
		background-color: rgba(255,255,255,0.3);
	}
}
@keyframes slideIn{
	0%{
		opacity: 0;
		transform: translateX(-200px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes sizeDownMove{
	0%{
		transform: scale(1);
		left: 100px;
	}
	100%{
		transform: scale(0.6);
		left: 0px;
	}
}
@keyframes fromBack{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}